* {
margin : 0;
padding : 0;
box-sizing: border-box;
font-family: 'helvetica neue';
}
html , body{
height : 100%;
width : 100%;
background-color: black;
color: white;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    color: rgb(5, 227, 5);
    font-family: monospace;
    font-size: 3rem;
}

